*{
    margin: 0;
    padding: 0;
    
}
 header{   
    background-color:white;
    height: auto; 
    padding: 25px ;
    position: fixed; 
}
nav{
    display: flex;
    /* padding-top: 30px; */
    padding-bottom: 30px;
}
nav ul{
    margin-left: 30px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: grey;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;

}
nav .login{
    margin-left: 630px;
}
nav .register{
    border: 2px solid black;
    padding :6px 15px;
    border-radius: 10px;
}
.landing{
    width: 80%;
    margin-left: 50px;
}
.landing-page{
    display: flex;
    justify-content: center;
    padding-bottom: 1000000000px;
}
.landing-page .left{
    width: 60%;
    margin-left: 60px;
}
.landing-page h1{
    font-size: 75px;
    margin-top: 50px;
    
}
.landing-page p{
    font-size: 20px;
    font-weight: bold;
    width: 70%;
    margin: 42px 0;
    color: grey;
}
.landing-page a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.learn{
    border: 2px solid black;
    background-color: black;
    padding :10px 20px;
    border-radius: 15px;

}
.learn:hover{
    background-color:white;
    color:  black;
}
.landing-page .right{
    width: 45%;
}
.landing-page .right img{
    width: 100%;  
    margin-left: 30px;
}
.landing-page .logo{
    margin-top: 100px;
}
.landing-page .logo img{
    margin-left: 20px;
}